[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
} /*prevents fouc*/


body {
	overflow: hidden;
	margin:0px;
	padding:0px;
	overflow:hidden;
}
.character_split span:hover { /*for chord input letter highlighting*/
    background-color: #00e0e8;
}
.alignleft {
	float: left;
	vertical-align: text-center;
}
.alignright {
	float: right;
	vertical-align: text-center;
}
.valigntop{
	vertical-align: text-top;
}
.valignbottom{
	vertical-align: text-bottom;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.btn-separator:after {
    content: ' ';
    display: block;
    float: left;
    background: #ADADAD;
    margin: 0 10px;
    height: 34px;
    width: 1px;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 30.1%} /*here*/
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 60.66%;}
.col-9 {width: 70%;} /*here*/
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row::after {
    content: "";
    clear: both;
    display: table;
}


#titleRow {
	padding-top: 4%;
	padding-bottom: 5%;
}

#title {
	font-size: 20px;
	font-family: 'robotoCondensed';
	opacity: 0.68;
	color: #000000;
	letter-spacing: 1.5px;
	/*padding-left: 1.3vw;*/
}

#sidebar {
	width: 160px;
	height: 100vh;
	max-height: 100vh;
	position: fixed;
	border-right: 1px solid;
	border-color: #dddddd;
	background-color: #fafafa;
	transition: 0.2s;
	margin: auto;
}

#photo {
	z-index: 1000;
}

#nameDisplay {
	font-size: 13px;
	font-family: 'robotoRegular';
	opacity: 1;
	color: #12314f;
	float: center;
	z-index: -100;
}

#signoutButton {
	font-size: 11px;
	letter-spacing: 2px;
	font-family: 'robotoRegular';
	opacity: 1;
	color: #2c2d2d;
	float: center;
	z-index: -100;
}

#signoutButton:hover {
	text-decoration: underline;
	cursor:pointer; 
}


#sidebarButtons {
	font-size: 13px;
	font-family: 'robotoRegular';
	opacity: 0.80;
	color: #000000;
	letter-spacing: 1px;
	padding-top: 25px;

}

#sidebarButtons:hover {
	text-decoration: underline;
	cursor:pointer; 
}

#titleRow {
	padding-top: 4%;
	padding-bottom: 5%;
}

#googleLogin {
	/*padding-left: 5px;*/
	padding-top: 10px;
	float: center;
	margin: auto;
}

#mainDisplay {
	z-index: -5;
	width: 100%;
	float: left;
	position: fixed;
	display: block;
	top: 0;
	padding-left: 160px;
	padding-top:30px;
    height: 100vh;
    overflow: hidden;
    z-index: -100;
}

#contentDisplayDiv { 
	/*display: inline-block;*/
	width: 100%;

	padding-top: 1vh;
	padding-left: 4vw; 
	font-family: 'menloRegular';
	color: rgba(0,0,0,0.87);
	line-height: 20px;
	border: none;
	
	z-index:40;
	opacity: 0.87;
	font-size: 15px;
	padding-bottom: 5vh;
	/*position: auto;*/
}

#surveyView {
	position: fixed;
	top: -140px;
	left: 0px;
	right: 0px;
	overflow-y:auto;
	width: 100vw;
}

#alreadyCompletedMessage {
	overflow-y:auto;
}
