<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="huange">


    <title>IgniteWorship</title>


    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link type="text/css" rel="stylesheet" href="static/fonts/fontStyles.css"> <!-- fonts -->
    <link type="text/css" rel="stylesheet" href="static/css/style.css"> <!-- styling -->    



    <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
    <!-- <script src="//code.angularjs.org/snapshot/angular-sanitize.js"></script> -->
    <script src="static/js/jquery-3.2.1.js"></script>
    <!-- <script src="static/js/angular.js"></script> -->
    <script src="static/js/content.js"></script> 
    <!-- angular controllers and stuff -->


    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="442419246140-r3532q36h8169nt8knjukmjbjae67n8f.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>




    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }

        function onLoad() {
            gapi.load('auth2', function() {
            gapi.auth2.init();
            });
        }
    </script>


</head>

<body ng-controller="HomeCtrl" class="{{ bodyClass }}">

    <!-- sidebar -->
    <div id="sidebar" class="col-3">
        <table>
            <tr align="center">
                <td id="titleRow" align="center">
                    <center><a href="/" id="title">IgniteWorship</a></center>
                </td>
            </tr>
            <tr>
                <td>
                    <div ng-show="!loggedIn" id="googleLogin">
                        <center><div class="g-signin2" data-onsuccess="onSignIn"></div> </center>
                    </div>
                    <div ng-show="loggedIn">
                        <center>
                            <p id="nameDisplay" ng-bind="currentProfile.getName()"></p>
                            <img ng-src="{{'{{profileImage}}'}}" id="photo"/>
                        </center>
                    </div>
                    <div ng-show="loggedIn" id="signoutButton">
                        <center><a href="#" onclick="signOut();" ng-click="logout()">Sign Out</a></center>
                        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
                    </div>
                </td>
            </tr>
            <div>
                <tr >
                    <td id="sidebarButtons" ng-show="loggedIn">
                        <span ng-click="toggleSurvey()" aria-hidden="true">
                            <center >Complete<br>Survey</center>
                        </span>
                    </td>
                </tr>
                <tr >
                    <td id="sidebarButtons" ng-show="loggedIn">
                        <span ng-click="toggleSchedule()" aria-hidden="true">
                            <center >View<br>Schedule</center>
                        </span>
                    </td>
                </tr>
                <tr >
                    <td id="sidebarButtons" ng-show="loggedIn">
                        <span ng-click="toggleSwap()" aria-hidden="true">
                            <center >Request<br>Swap</center>
                        </span>
                    </td>
                </tr>
                <tr >
                    <td id="sidebarButtons" ng-show="loggedIn">
                        <span ng-click="toggleRequests()" aria-hidden="true">
                            <center>Pending<br>Requests</center>
                        </span>
                    </td>
                </tr>
                <tr>
                    <!-- reconcile -->
                    <div ng-if="badLogin" id="badLogin">
                        The email associated with this account was not expected. Sign out and try again with a valid account.<br><br>Click <a href="https://docs.google.com/spreadsheets/d/1QjcA6Ds6--hBa4W23cIUiK5q52lI_dnTudgaAg2Z-hM/edit#gid=1393807361" onclick="signOut();" ng-click="logout()">here</a> to sign out and find your correct email address.<br><br>Report any issues to eric@ericthuang.com.
                    </div>
                </tr>
            </div>
        </table>
    </div>



    <!-- main content area -->
    <div ng-show="loggedIn" id="mainDisplay" class="col-9">
        <table class="table" cellspacing="0" cellpadding="0">
            <tr>   
                <td id="contentDisplayDiv">
                    <!-- welcome -->
                    <div ng-if="welcomeView" id="welcomeView"> 
                        Hi {{'{{userFirstName}}'}}
                    </div>
                <!-- survey -->
                    <div id="surveyView" ng-if="surveyView"> 
                        <!-- only load when clicked for the first time (avoid redundant count increments) -->
                        <center><iframe ng-if="iframeLoaded && !surveyCompleted" ng-src="{{'{{surveyURL}}'}}" frameborder="0" height="1000px" width="100%" iframe-onload="iframeLoadedCallBack()">Loading...</iframe></center>
                        
                    </div>
                    <!-- hide if already done -->
                    <div id="surveyCompletedView" ng-if="surveyView && surveyCompleted">
                            Your response has been recorded.<br><br>
                            <a href="#" ng-click="clearSurvey()">Resubmit Response</a>
                            <br>
                            Only your most recent response will be considered.


                    </div>

                <!-- schedule -->
                    <div ng-if="scheduleView" id="scheduleView">
                        This will be available before Sept 1. 
                    </div>

                <!-- swap -->
                    <div ng-if="swapView" id="swapView">
                        Swap weeks with someone else if you have unforeseen scheduling conflicts. 
                        <br>
                        <br>
                        Not available yet!
                    </div>

                <!-- requests -->
                    <div ng-if="requestsView" id="requestsView">
                        Accept or decline swap requests. 
                        <br>
                        <br>
                        Not available yet!
                    </div>

                </td>
            </tr>
        </table>
    </div>



</body>

</html>






